<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="avivacred" value="https://pkgs.dev.azure.com/avivacred/_packaging/avivacred/nuget/v3/index.json" />
	<add key="AvivaLabs" value="https://nuget.pkg.github.com/Aviva-Labs/index.json" />
	<add key="ianido" value="https://nuget.pkg.github.com/ianido/index.json" />
  </packageSources>
	<packageSourceCredentials>
		<AvivaLabs>
			<add key="Username" value="token" />
			<add key="ClearTextPassword" value="%AVIVA_GITHUB_PACKAGE_TOKEN%" />
		</AvivaLabs>
		<ianido>
			<add key="Username" value="token" />
			<add key="ClearTextPassword" value="%AVIVA_GITHUB_PACKAGE_TOKEN%" />
		</ianido>
	</packageSourceCredentials>
</configuration>