name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install minicover
      run: dotnet tool install --global minicover --version 3.0.6
    - name: Install dependencies
      run: dotnet restore src/RulesEngine/RulesEngine.sln
    - name: Build
      run: dotnet build src/RulesEngine/RulesEngine.sln --configuration Release --no-restore
    - name: Instrument
      run: minicover insturment
    - name: Test
      run: dotnet test src/RulesEngine/RulesEngine.sln --no-build --verbosity m
    - name: Uninstrument
      run: minicover uninstrument
    - name: Report
      run: minicover coverallsreport --repo-token ${{ secrets.COVERALLS_TOKEN }}
